<!DOCTYPE html>
<html>
  <head>
    <title>Mockingbird</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQ1sVSKZozy7U7kxsWE2D1B6HgT9QsjH8&libraries=visualization" async defer></script>

    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/user/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
